In [8]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python

#load packages
import sys #access to system parameters https://docs.python.org/3/library/sys.html
import pandas as pd #collection of functions for data processing and 
# analysis modeled after R dataframes with SQL like features
import matplotlib #collection of functions for scientific and publication-ready visualization
import numpy as np #foundational package for scientific computing
import scipy as sp #collection of functions for scientific computing and advance mathematics
# numpyより高度なことができる。フーリエ変換とかね。
import IPython
from IPython import display #pretty printing of dataframes in Jupyter notebook
# https://qiita.com/5t111111/items/7852e13ace6de288042f
# ipythonは便利なシェル？
import sklearn #collection of machine learning algorithms
# misc libraries
# mist = その他
import random
import time
# ignore warning
import warnings
warnings.filterwarnings('ignore')
# よくわからん原因不明の警告が表示されることがあるので、それを防止できる。

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
# Any results you write to the current directory are saved as output.

In [9]:
#Common Model Algorithms
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process
from xgboost import XGBClassifier

#Common Model Helpers
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

#Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
from pandas.tools.plotting import scatter_matrix

#Configure Visualization Defaults
#%matplotlib inline = show plots in Jupyter Notebook browser
%matplotlib inline
mpl.style.use('ggplot')  # なんかよくわからんが、プロットのスタイル
sns.set_style('white')  # 背景白、グリッドなし
pylab.rcParams['figure.figsize'] = 12,8  # matplotの調整

In [10]:
# nullを見に行く
# print('-'*12, 'Train:\n', data1.isnull())  # 中身がnullか調べて、nullならtrue 
print('Train column has with null values:\n', data1.isnull().sum())
# .sum()で、各columsごとに、Trueの数を数えてる
print('-'*10)
print('Test column has with null values:\n', data_val.isnull().sum())
# .sum()で、各columsごとに、Trueの数を数えてる
print('-'*10)

NameError: name 'data1' is not defined

In [11]:
#import data from file: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html
data_raw = pd.read_csv('../input/train.csv')
print('--------train data---------')
print(data_raw)
#a dataset should be broken into 3 splits: train, test, and (final) validation
#the test file provided is the validation file for competition submission
#we will split the train set into train and test data in future sections
data_val = pd.read_csv('../input/test.csv')
print('--------test data---------')
print(data_val)
#to play with our data we'll create a copy
#remember python assignment or equal passes by reference vs values,
# so we use the copy function: 
# https://stackoverflow.com/questions/46327494/python-pandas-dataframe-copydeep-false-vs-copydeep-true-vs
data1 = data_raw.copy(deep = True)
# http://kurochan-note.hatenablog.jp/entry/20110316/1300267023
print('--------data1---------')
print(data1)

#however passing by reference is convenient, because we can clean both datasets at once
data_cleaner = [data1, data_val]
# 一度にデータがそうさできて楽なんで、まとめる。
print('--------data_cleaner---------')
print(data_cleaner)

#preview data
print('---------raw info----------')
print (data_raw.info()) 
print('---------samples----------')
data_raw.sample(10) #https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sample.html

--------train data---------
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male   NaN      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                 Todoroff, Mr. Lalio    male   NaN      0
..                                                 ...     ...   ...    ...
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
868                        van Melkebeke, Mr. Philemon    male   NaN      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
878                                 Laleff, Mr. Kristo    male   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
5        0            330877    8.4583          NaN        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
17       0            244373   13.0000          NaN        S
18       0            345763   18.0000          NaN        S
19       0              2649    7.2250          NaN        C
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
26       0              2631    7.2250          NaN        C
27       2             19950  263.0000  C23 C25 C27        S
28       0            330959    7.8792          NaN        Q
29       0            349216    7.8958          NaN        S
..     ...               ...       ...          ...      ...
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
863      2          CA. 2343   69.5500          NaN        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000          NaN        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
878      0            349217    7.8958          NaN        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
887      0            112053   30.0000          B42        S
888      2        W./C. 6607   23.4500          NaN        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500          NaN        Q

[891 rows x 12 columns]
--------test data---------
     PassengerId  Pclass                                               Name  \
0            892       3                                   Kelly, Mr. James
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
2            894       2                          Myles, Mr. Thomas Francis
3            895       3                                   Wirz, Mr. Albert
4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897       3                         Svensson, Mr. Johan Cervin
6            898       3                               Connolly, Miss. Kate
7            899       2                       Caldwell, Mr. Albert Francis
8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901       3                            Davies, Mr. John Samuel
10           902       3                                   Ilieff, Mr. Ylio
11           903       1                         Jones, Mr. Charles Cresson
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13           905       2                               Howard, Mr. Benjamin
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16           908       2                                  Keane, Mr. Daniel
17           909       3                                  Assaf, Mr. Gerios
18           910       3                       Ilmakangas, Miss. Ida Livija
19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
20           912       1                             Rothschild, Mr. Martin
21           913       3                          Olsen, Master. Artur Karl
22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
23           915       1                    Williams, Mr. Richard Norris II
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25           917       3                            Robins, Mr. Alexander A
26           918       1                       Ostby, Miss. Helene Ragnhild
27           919       3                                  Daher, Mr. Shedid
28           920       1                            Brady, Mr. John Bertram
29           921       3                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388         1280       3                               Canavan, Mr. Patrick
389         1281       3                        Palsson, Master. Paul Folke
390         1282       1                         Payne, Mr. Vivian Ponsonby
391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392         1284       3                      Abbott, Master. Eugene Joseph
393         1285       2                               Gilbert, Mr. William
394         1286       3                           Kink-Heilmann, Mr. Anton
395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396         1288       3                               Colbert, Mr. Patrick
397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398         1290       3                     Larsson-Rondberg, Mr. Edvard A
399         1291       3                           Conlon, Mr. Thomas Henry
400         1292       1                            Bonnell, Miss. Caroline
401         1293       2                                    Gale, Mr. Harry
402         1294       1                     Gibson, Miss. Dorothy Winifred
403         1295       1                             Carrau, Mr. Jose Pedro
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298       2                          Ware, Mr. William Jeffery
407         1299       1                         Widener, Mr. George Dunton
408         1300       3                    Riordan, Miss. Johanna Hannah""
409         1301       3                          Peacock, Miss. Treasteall
410         1302       3                             Naughton, Miss. Hannah
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304       3                     Henriksson, Miss. Jenny Lovisa
413         1305       3                                 Spector, Mr. Woolf
414         1306       1                       Oliva y Ocana, Dona. Fermina
415         1307       3                       Saether, Mr. Simon Sivertsen
416         1308       3                                Ware, Mr. Frederick
417         1309       3                           Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare  \
0      male  34.5      0      0              330911    7.8292
1    female  47.0      1      0              363272    7.0000
2      male  62.0      0      0              240276    9.6875
3      male  27.0      0      0              315154    8.6625
4    female  22.0      1      1             3101298   12.2875
5      male  14.0      0      0                7538    9.2250
6    female  30.0      0      0              330972    7.6292
7      male  26.0      1      1              248738   29.0000
8    female  18.0      0      0                2657    7.2292
9      male  21.0      2      0           A/4 48871   24.1500
10     male   NaN      0      0              349220    7.8958
11     male  46.0      0      0                 694   26.0000
12   female  23.0      1      0               21228   82.2667
13     male  63.0      1      0               24065   26.0000
14   female  47.0      1      0         W.E.P. 5734   61.1750
15   female  24.0      1      0       SC/PARIS 2167   27.7208
16     male  35.0      0      0              233734   12.3500
17     male  21.0      0      0                2692    7.2250
18   female  27.0      1      0    STON/O2. 3101270    7.9250
19   female  45.0      0      0                2696    7.2250
20     male  55.0      1      0            PC 17603   59.4000
21     male   9.0      0      1             C 17368    3.1708
22   female   NaN      0      0            PC 17598   31.6833
23     male  21.0      0      1            PC 17597   61.3792
24   female  48.0      1      3            PC 17608  262.3750
25     male  50.0      1      0           A/5. 3337   14.5000
26   female  22.0      0      1              113509   61.9792
27     male  22.5      0      0                2698    7.2250
28     male  41.0      0      0              113054   30.5000
29     male   NaN      2      0                2662   21.6792
..      ...   ...    ...    ...                 ...       ...
388    male  21.0      0      0              364858    7.7500
389    male   6.0      3      1              349909   21.0750
390    male  23.0      0      0               12749   93.5000
391  female  51.0      0      1            PC 17592   39.4000
392    male  13.0      0      2           C.A. 2673   20.2500
393    male  47.0      0      0          C.A. 30769   10.5000
394    male  29.0      3      1              315153   22.0250
395  female  18.0      1      0               13695   60.0000
396    male  24.0      0      0              371109    7.2500
397  female  48.0      1      1               13567   79.2000
398    male  22.0      0      0              347065    7.7750
399    male  31.0      0      0               21332    7.7333
400  female  30.0      0      0               36928  164.8667
401    male  38.0      1      0               28664   21.0000
402  female  22.0      0      1              112378   59.4000
403    male  17.0      0      0              113059   47.1000
404    male  43.0      1      0               17765   27.7208
405    male  20.0      0      0       SC/PARIS 2166   13.8625
406    male  23.0      1      0               28666   10.5000
407    male  50.0      1      1              113503  211.5000
408  female   NaN      0      0              334915    7.7208
409  female   3.0      1      1  SOTON/O.Q. 3101315   13.7750
410  female   NaN      0      0              365237    7.7500
411  female  37.0      1      0               19928   90.0000
412  female  28.0      0      0              347086    7.7750
413    male   NaN      0      0           A.5. 3236    8.0500
414  female  39.0      0      0            PC 17758  108.9000
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500
416    male   NaN      0      0              359309    8.0500
417    male   NaN      1      1                2668   22.3583

               Cabin Embarked
0                NaN        Q
1                NaN        S
2                NaN        Q
3                NaN        S
4                NaN        S
5                NaN        S
6                NaN        Q
7                NaN        S
8                NaN        C
9                NaN        S
10               NaN        S
11               NaN        S
12               B45        S
13               NaN        S
14               E31        S
15               NaN        C
16               NaN        Q
17               NaN        C
18               NaN        S
19               NaN        C
20               NaN        C

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
496,497,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.2667,D20,C
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S
563,564,0,3,"Simmons, Mr. John",male,NaN,0,0,SOTON/OQ 392082,8.0500,NaN,S
808,809,0,2,"Meyer, Mr. August",male,39.0,0,0,248723,13.0000,NaN,S
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0000,NaN,S
847,848,0,3,"Markoff, Mr. Marin",male,35.0,0,0,349213,7.8958,NaN,C
669,670,1,1,"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)",female,NaN,1,0,19996,52.0000,C126,S
480,481,0,3,"Goodwin, Master. Harold Victor",male,9.0,5,2,CA 2144,46.9000,NaN,S
729,730,0,3,"Ilmakangas, Miss. Pieta Sofia",female,25.0,1,0,STON/O2. 3101271,7.9250,NaN,S
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S

In [12]:
# age, cabin, embarkedの欠損を埋める
# ageは数値データ、cabinはcategorical
# age, embarkedを埋める。cabinは消す.cabinは欠損が多すぎる。
# print(data1['Cabin'])
# print(data1['Embarked'])
for dataset in data_cleaner:
    dataset['Age'].fillna(dataset['Age'].median(), inplace =  True)
    # inplaceで元のオブジェクト自体が変更される。
    dataset['Embarked'].fillna(dataset['Embarked'].mode()[0], inplace = True)
    dataset['Fare'].fillna(dataset['Fare'].median(), inplace = True)
data_column = ['PassengerId', 'Cabin', 'Ticket']
data1.drop(data_column, axis=1,  inplace = True)
#dropはindexを指定して削除できる。axis=1だと列で削除

In [13]:
data_raw.describe(include = 'all')
# uniqueはデータの種類(bool)
# top：最頻値
# uniqueとかtopはboolにのみ作用できる。数値データとかは無理ぽい
# freque：最も一般的な値のでる回数

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Yrois, Miss. Henriette (""Mrs Harbeck"")",male,NaN,NaN,NaN,CA. 2343,NaN,G6,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [14]:
print(data1)

     Survived  Pclass                                               Name  \
0           0       3                            Braund, Mr. Owen Harris
1           1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2           1       3                             Heikkinen, Miss. Laina
3           1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           0       3                           Allen, Mr. William Henry
5           0       3                                   Moran, Mr. James
6           0       1                            McCarthy, Mr. Timothy J
7           0       3                     Palsson, Master. Gosta Leonard
8           1       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9           1       2                Nasser, Mrs. Nicholas (Adele Achem)
10          1       3                    Sandstrom, Miss. Marguerite Rut
11          1       1                           Bonnell, Miss. Elizabeth
12          0       3                     Saundercock, Mr. William Henry
13          0       3                        Andersson, Mr. Anders Johan
14          0       3               Vestrom, Miss. Hulda Amanda Adolfina
15          1       2                   Hewlett, Mrs. (Mary D Kingcome)
16          0       3                               Rice, Master. Eugene
17          1       2                       Williams, Mr. Charles Eugene
18          0       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
19          1       3                            Masselmani, Mrs. Fatima
20          0       2                               Fynney, Mr. Joseph J
21          1       2                              Beesley, Mr. Lawrence
22          1       3                        McGowan, Miss. Anna "Annie"
23          1       1                       Sloper, Mr. William Thompson
24          0       3                      Palsson, Miss. Torborg Danira
25          1       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26          0       3                            Emir, Mr. Farred Chehab
27          0       1                     Fortune, Mr. Charles Alexander
28          1       3                      O'Dwyer, Miss. Ellen "Nellie"
29          0       3                                Todoroff, Mr. Lalio
..        ...     ...                                                ...
861         0       2                        Giles, Mr. Frederick Edward
862         1       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863         0       3                  Sage, Miss. Dorothy Edith "Dolly"
864         0       2                             Gill, Mr. John William
865         1       2                           Bystrom, Mrs. (Karolina)
866         1       2                       Duran y More, Miss. Asuncion
867         0       1               Roebling, Mr. Washington Augustus II
868         0       3                        van Melkebeke, Mr. Philemon
869         1       3                    Johnson, Master. Harold Theodor
870         0       3                                  Balkic, Mr. Cerin
871         1       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872         0       1                           Carlsson, Mr. Frans Olof
873         0       3                        Vander Cruyssen, Mr. Victor
874         1       2              Abelson, Mrs. Samuel (Hannah Wizosky)
875         1       3                   Najib, Miss. Adele Kiamie "Jane"
876         0       3                      Gustafsson, Mr. Alfred Ossian
877         0       3                               Petroff, Mr. Nedelio
878         0       3                                 Laleff, Mr. Kristo
879         1       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         1       2       Shelley, Mrs. William (Imanita Parrish Hall)
881         0       3                                 Markun, Mr. Johann
882         0       3                       Dahlberg, Miss. Gerda Ulrika
883         0       2                      Banfield, Mr. Frederick James
884         0       3                             Sutehall, Mr. Henry Jr
885         0       3               Rice, Mrs. William (Margaret Norton)
886         0       2                              Montvila, Rev. Juozas
887         1       1                       Graham, Miss. Margaret Edith
888         0       3           Johnston, Miss. Catherine Helen "Carrie"
889         1       1                              Behr, Mr. Karl Howell
890         0       3                                Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Fare Embarked
0      male  22.0      1      0    7.2500        S
1    female  38.0      1      0   71.2833        C
2    female  26.0      0      0    7.9250        S
3    female  35.0      1      0   53.1000        S
4      male  35.0      0      0    8.0500        S
5      male  28.0      0      0    8.4583        Q
6      male  54.0      0      0   51.8625        S
7      male   2.0      3      1   21.0750        S
8    female  27.0      0      2   11.1333        S
9    female  14.0      1      0   30.0708        C
10   female   4.0      1      1   16.7000        S
11   female  58.0      0      0   26.5500        S
12     male  20.0      0      0    8.0500        S
13     male  39.0      1      5   31.2750        S
14   female  14.0      0      0    7.8542        S
15   female  55.0      0      0   16.0000        S
16     male   2.0      4      1   29.1250        Q
17     male  28.0      0      0   13.0000        S
18   female  31.0      1      0   18.0000        S
19   female  28.0      0      0    7.2250        C
20     male  35.0      0      0   26.0000        S
21     male  34.0      0      0   13.0000        S
22   female  15.0      0      0    8.0292        Q
23     male  28.0      0      0   35.5000        S
24   female   8.0      3      1   21.0750        S
25   female  38.0      1      5   31.3875        S
26     male  28.0      0      0    7.2250        C
27     male  19.0      3      2  263.0000        S
28   female  28.0      0      0    7.8792        Q
29     male  28.0      0      0    7.8958        S
..      ...   ...    ...    ...       ...      ...
861    male  21.0      1      0   11.5000        S
862  female  48.0      0      0   25.9292        S
863  female  28.0      8      2   69.5500        S
864    male  24.0      0      0   13.0000        S
865  female  42.0      0      0   13.0000        S
866  female  27.0      1      0   13.8583        C
867    male  31.0      0      0   50.4958        S
868    male  28.0      0      0    9.5000        S
869    male   4.0      1      1   11.1333        S
870    male  26.0      0      0    7.8958        S
871  female  47.0      1      1   52.5542        S
872    male  33.0      0      0    5.0000        S
873    male  47.0      0      0    9.0000        S
874  female  28.0      1      0   24.0000        C
875  female  15.0      0      0    7.2250        C
876    male  20.0      0      0    9.8458        S
877    male  19.0      0      0    7.8958        S
878    male  28.0      0      0    7.8958        S
879  female  56.0      0      1   83.1583        C
880  female  25.0      0      1   26.0000        S
881    male  33.0      0      0    7.8958        S
882  female  22.0      0      0   10.5167        S
883    male  28.0      0      0   10.5000        S
884    male  25.0      0      0    7.0500        S
885  female  39.0      0      5   29.1250        Q
886    male  27.0      0      0   13.0000        S
887  female  19.0      0      0   30.0000        S
888  female  28.0      1      2   23.4500        S
889    male  26.0      0      0   30.0000        C
890    male  32.0      0      0    7.7500        Q

[891 rows x 9 columns]

In [15]:
data_raw.describe(include = 'all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Yrois, Miss. Henriette (""Mrs Harbeck"")",male,NaN,NaN,NaN,CA. 2343,NaN,G6,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [16]:
###CREATE: Feature Engineering for train and test/validation dataset
for dataset in data_cleaner:
    dataset['Familysize'] = dataset['SibSp'] + dataset['SibSp'] + 1
    dataset['IsAlone'] = 1 # initialize by 1
    dataset['IsAlone'].loc[dataset['Familysize'] > 1] = 0
    # loc[]なのに注意参照元.loc[指定したい条件]
    # loc[]で、条件に合うリストをとってこれる
    dataset['Title'] = dataset['Name'].str.split(",", expand=True)[1].str.split(".", expand=True)[0]
    # pandasはstr型のデータに当たるとき、.str＝strアクセを使うと各データに対して処理を適用できる
    # expand=Trueで複数の列に分割できる
    # qcut, cutは連続値を任意の境界で区分けして離散値にする。=ビニング処理をする
    # qcutはビンに含まれる要素数を等しくビニング処理
    # cutは最大値と最小値の間で値の間隔が等しくなるよう分割
    dataset['Farebin'] = pd.qcut(dataset['Fare'], 4)
    # astypeでpandasの中身をキャストできる
    dataset['Agebin'] = pd.cut(dataset['Age'].astype(int), 5)

In [17]:
  #cleanup rare title names

stat_min = 10
print(data1['Title'].value_counts())
title_name = (data1['Title'].value_counts() < stat_min)
# 各タイトルに対して、出現数をカウントしたリストが生成され、その各要素に対して、判定
# print(title_name)

 Mr              517
 Miss            182
 Mrs             125
 Master           40
 Dr                7
 Rev               6
 Mlle              2
 Major             2
 Col               2
 Jonkheer          1
 Lady              1
 Ms                1
 Sir               1
 Capt              1
 Mme               1
 the Countess      1
 Don               1
Name: Title, dtype: int64

In [18]:
print(data1['Title'].value_counts())

 Mr              517
 Miss            182
 Mrs             125
 Master           40
 Dr                7
 Rev               6
 Mlle              2
 Major             2
 Col               2
 Jonkheer          1
 Lady              1
 Ms                1
 Sir               1
 Capt              1
 Mme               1
 the Countess      1
 Don               1
Name: Title, dtype: int64

In [19]:
# rareなタイトルなら、その他=Miscとする。
data1['Title'] = data1['Title'].apply(lambda x: 'Misc' if title_name.loc[x] == True else x)
# apply()各列に関数を適用

In [20]:
data1.info()
# 「有効データ数」「データ型」「メモリ使用量」などの総合的な情報を表示
# なんかよくわからんがobjectはstrでcategoryは値の範囲という理解にしとこう。無理。

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
Survived      891 non-null int64
Pclass        891 non-null int64
Name          891 non-null object
Sex           891 non-null object
Age           891 non-null float64
SibSp         891 non-null int64
Parch         891 non-null int64
Fare          891 non-null float64
Embarked      891 non-null object
Familysize    891 non-null int64
IsAlone       891 non-null int64
Title         891 non-null object
Farebin       891 non-null category
Agebin        891 non-null category
dtypes: category(2), float64(2), int64(6), object(4)
memory usage: 85.5+ KB

In [21]:
data1.sample(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Familysize,IsAlone,Title,Farebin,Agebin
860,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,14.1083,S,5,0,Mr,"(7.91, 14.454]","(32.0, 48.0]"
681,1,1,"Hassab, Mr. Hammad",male,27.0,0,0,76.7292,C,1,1,Mr,"(31.0, 512.329]","(16.0, 32.0]"
266,0,3,"Panula, Mr. Ernesti Arvid",male,16.0,4,1,39.6875,S,9,0,Mr,"(31.0, 512.329]","(-0.08, 16.0]"
770,0,3,"Lievens, Mr. Rene Aime",male,24.0,0,0,9.5000,S,1,1,Mr,"(7.91, 14.454]","(16.0, 32.0]"
673,1,2,"Wilhelms, Mr. Charles",male,31.0,0,0,13.0000,S,1,1,Mr,"(7.91, 14.454]","(16.0, 32.0]"
147,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,34.3750,S,5,0,Miss,"(31.0, 512.329]","(-0.08, 16.0]"
92,0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,61.1750,S,3,0,Mr,"(31.0, 512.329]","(32.0, 48.0]"
314,0,2,"Hart, Mr. Benjamin",male,43.0,1,1,26.2500,S,3,0,Mr,"(14.454, 31.0]","(32.0, 48.0]"
701,1,1,"Silverthorne, Mr. Spencer Victor",male,35.0,0,0,26.2875,S,1,1,Mr,"(14.454, 31.0]","(32.0, 48.0]"
594,0,2,"Chapman, Mr. John Henry",male,37.0,1,0,26.0000,S,3,0,Mr,"(14.454, 31.0]","(32.0, 48.0]"

In [22]:
data_val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 16 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           418 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
Familysize     418 non-null int64
IsAlone        418 non-null int64
Title          418 non-null object
Farebin        418 non-null category
Agebin         418 non-null category
dtypes: category(2), float64(2), int64(6), object(6)
memory usage: 46.8+ KB

In [23]:
# sklearnとpandasを使って、カテゴリカルをダミーに
print(data_cleaner)

[     Survived  Pclass                                               Name  \
0           0       3                            Braund, Mr. Owen Harris
1           1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2           1       3                             Heikkinen, Miss. Laina
3           1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           0       3                           Allen, Mr. William Henry
5           0       3                                   Moran, Mr. James
6           0       1                            McCarthy, Mr. Timothy J
7           0       3                     Palsson, Master. Gosta Leonard
8           1       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9           1       2                Nasser, Mrs. Nicholas (Adele Achem)
10          1       3                    Sandstrom, Miss. Marguerite Rut
11          1       1                           Bonnell, Miss. Elizabeth
12          0       3                     Saundercock, Mr. William Henry
13          0       3                        Andersson, Mr. Anders Johan
14          0       3               Vestrom, Miss. Hulda Amanda Adolfina
15          1       2                   Hewlett, Mrs. (Mary D Kingcome)
16          0       3                               Rice, Master. Eugene
17          1       2                       Williams, Mr. Charles Eugene
18          0       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
19          1       3                            Masselmani, Mrs. Fatima
20          0       2                               Fynney, Mr. Joseph J
21          1       2                              Beesley, Mr. Lawrence
22          1       3                        McGowan, Miss. Anna "Annie"
23          1       1                       Sloper, Mr. William Thompson
24          0       3                      Palsson, Miss. Torborg Danira
25          1       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26          0       3                            Emir, Mr. Farred Chehab
27          0       1                     Fortune, Mr. Charles Alexander
28          1       3                      O'Dwyer, Miss. Ellen "Nellie"
29          0       3                                Todoroff, Mr. Lalio
..        ...     ...                                                ...
861         0       2                        Giles, Mr. Frederick Edward
862         1       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863         0       3                  Sage, Miss. Dorothy Edith "Dolly"
864         0       2                             Gill, Mr. John William
865         1       2                           Bystrom, Mrs. (Karolina)
866         1       2                       Duran y More, Miss. Asuncion
867         0       1               Roebling, Mr. Washington Augustus II
868         0       3                        van Melkebeke, Mr. Philemon
869         1       3                    Johnson, Master. Harold Theodor
870         0       3                                  Balkic, Mr. Cerin
871         1       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872         0       1                           Carlsson, Mr. Frans Olof
873         0       3                        Vander Cruyssen, Mr. Victor
874         1       2              Abelson, Mrs. Samuel (Hannah Wizosky)
875         1       3                   Najib, Miss. Adele Kiamie "Jane"
876         0       3                      Gustafsson, Mr. Alfred Ossian
877         0       3                               Petroff, Mr. Nedelio
878         0       3                                 Laleff, Mr. Kristo
879         1       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         1       2       Shelley, Mrs. William (Imanita Parrish Hall)
881         0       3                                 Markun, Mr. Johann
882         0       3                       Dahlberg, Miss. Gerda Ulrika
883         0       2                      Banfield, Mr. Frederick James
884         0       3                             Sutehall, Mr. Henry Jr
885         0       3               Rice, Mrs. William (Margaret Norton)
886         0       2                              Montvila, Rev. Juozas
887         1       1                       Graham, Miss. Margaret Edith
888         0       3           Johnston, Miss. Catherine Helen "Carrie"
889         1       1                              Behr, Mr. Karl Howell
890         0       3                                Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Fare Embarked  Familysize  IsAlone  \
0      male  22.0      1      0    7.2500        S           3        0
1    female  38.0      1      0   71.2833        C           3        0
2    female  26.0      0      0    7.9250        S           1        1
3    female  35.0      1      0   53.1000        S           3        0
4      male  35.0      0      0    8.0500        S           1        1
5      male  28.0      0      0    8.4583        Q           1        1
6      male  54.0      0      0   51.8625        S           1        1
7      male   2.0      3      1   21.0750        S           7        0
8    female  27.0      0      2   11.1333        S           1        1
9    female  14.0      1      0   30.0708        C           3        0
10   female   4.0      1      1   16.7000        S           3        0
11   female  58.0      0      0   26.5500        S           1        1
12     male  20.0      0      0    8.0500        S           1        1
13     male  39.0      1      5   31.2750        S           3        0
14   female  14.0      0      0    7.8542        S           1        1
15   female  55.0      0      0   16.0000        S           1        1
16     male   2.0      4      1   29.1250        Q           9        0
17     male  28.0      0      0   13.0000        S           1        1
18   female  31.0      1      0   18.0000        S           3        0
19   female  28.0      0      0    7.2250        C           1        1
20     male  35.0      0      0   26.0000        S           1        1
21     male  34.0      0      0   13.0000        S           1        1
22   female  15.0      0      0    8.0292        Q           1        1
23     male  28.0      0      0   35.5000        S           1        1
24   female   8.0      3      1   21.0750        S           7        0
25   female  38.0      1      5   31.3875        S           3        0
26     male  28.0      0      0    7.2250        C           1        1
27     male  19.0      3      2  263.0000        S           7        0
28   female  28.0      0      0    7.8792        Q           1        1
29     male  28.0      0      0    7.8958        S           1        1
..      ...   ...    ...    ...       ...      ...         ...      ...
861    male  21.0      1      0   11.5000        S           3        0
862  female  48.0      0      0   25.9292        S           1        1
863  female  28.0      8      2   69.5500        S          17        0
864    male  24.0      0      0   13.0000        S           1        1
865  female  42.0      0      0   13.0000        S           1        1
866  female  27.0      1      0   13.8583        C           3        0
867    male  31.0      0      0   50.4958        S           1        1
868    male  28.0      0      0    9.5000        S           1        1
869    male   4.0      1      1   11.1333        S           3        0
870    male  26.0      0      0    7.8958        S           1        1
871  female  47.0      1      1   52.5542        S           3        0
872    male  33.0      0      0    5.0000        S           1        1
873    male  47.0      0      0    9.0000        S           1        1
874  female  28.0      1      0   24.0000        C           3        0
875  female  15.0      0      0    7.2250        C           1        1
876    male  20.0      0      0    9.8458        S           1        1
877    male  19.0      0      0    7.8958        S           1        1
878    male  28.0      0      0    7.8958        S           1        1
879  female  56.0      0      1   83.1583        C           1        1
880  female  25.0      0      1   26.0000        S           1        1
881    male  33.0      0      0    7.8958        S           1        1
882  female  22.0      0      0   10.5167        S           1        1
883    male  28.0      0      0   10.5000        S           1        1
884    male  25.0      0      0    7.0500        S           1        1
885  female  39.0      0      5   29.1250        Q           1        1
886    male  27.0      0      0   13.0000        S           1        1
887  female  19.0      0      0   30.0000        S           1        1
888  female  28.0      1      2   23.4500        S           3        0
889    male  26.0      0      0   30.0000        C           1        1
890    male  32.0      0      0    7.7500        Q           1        1

       Title          Farebin         Agebin
0         Mr   (-0.001, 7.91]   (16.0, 32.0]
1        Mrs  (31.0, 512.329]   (32.0, 48.0]
2       Miss   (7.91, 14.454]   (16.0, 32.0]
3        Mrs  (31.0, 512.329]   (32.0, 48.0]
4         Mr   (7.91, 14.454]   (32.0, 48.0]
5         Mr   (7.91, 14.454]   (16.0, 32.0]
6         Mr  (31.0, 512.329]   (48.0, 64.0]
7     Master   (14.454, 31.0]  (-0.08, 16.0]
8        Mrs   (7.91, 14.454]   (16.0, 32.0]
9        Mrs   (14.454, 31.0]  (-0.08, 16.0]
10      Miss   (14.454, 31.0]  (-0.08, 16.0]
11      Miss   (14.454, 31.0]   (48.0, 64.0]
12        Mr   (7.91, 14.454]   (16.0, 32.0]
13        Mr  (31.0, 512.329]   (32.0, 48.0]
14      Miss   (-0.001, 7.91]  (-0.08, 16.0]
15       Mrs   (14.454, 31.0]   (48.0, 64.0]
16    Master   (14.454, 31.0]  (-0.08, 16.0]
17        Mr   (7.91, 14.454]   (16.0, 32.0]
18       Mrs   (14.454, 31.0]   (16.0, 32.0]
19       Mrs   (-0.001, 7.91]   (16.0, 32.0]
20        Mr   (14.454, 31.0]   (32.0, 48.0]
21        Mr   (7.91, 14.454]   (32.0, 48.0]
22      Miss   (7.91, 14.454]  (-0.08, 16.0]
23        Mr  (31.0, 512.329]   (16.0, 32.0]
24      Miss   (14.454, 31.0]  (-0.08, 16.0]
25       Mrs  (31.0, 512.329]   (32.0, 48.0]
26        Mr   (-0.001, 7.91]   (16.0, 32.0]
27        Mr  (31.0, 512.329]   (16.0, 32.0]
28      Miss   (-0.001, 7.91]   (16.0, 32.0]
29        Mr   (-0.001, 7.91]   (16.0, 32.0]
..       ...              ...            ...
861       Mr   (7.91, 14.454]   (16.0, 32.0]
862      Mrs   (14.454, 31.0]   (32.0, 48.0]
863     Miss  (31.0, 512.329]   (16.0, 32.0]
864       Mr   (7.91, 14.454]   (16.0, 32.0]
865      Mrs   (7.91, 14.454]   (32.0, 48.0]
866     Miss   (7.91, 14.454]   (16.0, 32.0]
867       Mr  (31.0, 512.329]   (16.0, 32.0]
868       Mr   (7.91, 14.454]   (16.0, 32.0]
869   Master   (7.91, 14.454]  (-0.08, 16.0]
870       Mr   (-0.001, 7.91]   (16.0, 32.0]
871      Mrs  (31.0, 512.329]   (32.0, 48.0]
872       Mr   (-0.001, 7.91]   (32.0, 48.0]
873       Mr   (7.91, 14.454]   (32.0, 48.0]
874      Mrs   (14.454, 31.0]   (16.0, 32.0]
875     Miss   (-0.001, 7.91]  (-0.08, 16.0]
876       Mr   (7.91, 14.454]   (16.0, 32.0]
877       Mr   (-0.001, 7.91]   (16.0, 32.0]
878       Mr   (-0.001, 7.91]   (16.0, 32.0]
879      Mrs  (31.0, 512.329]   (48.0, 64.0]
880      Mrs   (14.454, 31.0]   (16.0, 32.0]
881       Mr   (-0.001, 7.91]   (32.0, 48.0]
882     Miss   (7.91, 14.454]   (16.0, 32.0]
883       Mr   (7.91, 14.454]   (16.0, 32.0]
884       Mr   (-0.001, 7.91]   (16.0, 32.0]
885      Mrs   (14.454, 31.0]   (32.0, 48.0]
886     Misc   (7.91, 14.454]   (16.0, 32.0]
887     Miss   (14.454, 31.0]   (16.0, 32.0]
888     Miss   (14.454, 31.0]   (16.0, 32.0]
889       Mr   (14.454, 31.0]   (16.0, 32.0]
890       Mr   (-0.001, 7.91]   (16.0, 32.0]

[891 rows x 14 columns],      PassengerId  Pclass                                               Name  \
0            892       3                                   Kelly, Mr. James
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
2            894       2                          Myles, Mr. Thomas Francis
3            895       3                                   Wirz, Mr. Albert
4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897       3                         Svensson, Mr. Johan Cervin
6            898       3                               Connolly, Miss. Kate
7            899       2                       Caldwell, Mr. Albert Francis
8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901       3                            Davies, Mr. John Samuel
10           902       3                                   Ilieff, Mr. Ylio
11           903       1                         Jones, Mr. Charles Cresson
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13           905       2                               Howard, Mr. Benjamin
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16           908       2                                  Keane, Mr. Daniel
17           909       3                                  Assaf, Mr. Gerios
18           910       3                       Ilmakangas, Miss. Ida Livija
19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
20           912       1                             Rothschild, Mr. Martin
21           913       3                          Olsen, Master. Artur Karl
22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
23           915       1                    Williams, Mr. Richard Norris II
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25           917       3                            Robins, Mr. Alexander A
26           918       1                       Ostby, Miss. Helene Ragnhild
27           919       3                                  Daher, Mr. Shedid
28           920       1                            Brady, Mr. John Bertram
29           921       3                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388         1280       3                               Canavan, Mr. Patrick
389         1281       3                        Palsson, Master. Paul Folke
390         1282       1                         Payne, Mr. Vivian Ponsonby
391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392         1284       3                      Abbott, Master. Eugene Joseph
393         1285       2                               Gilbert, Mr. William
394         1286       3                           Kink-Heilmann, Mr. Anton
395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396         1288       3                               Colbert, Mr. Patrick
397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398         1290       3                     Larsson-Rondberg, Mr. Edvard A
399         1291       3                           Conlon, Mr. Thomas Henry
400         1292       1                            Bonnell, Miss. Caroline
401         1293       2                                    Gale, Mr. Harry
402         1294       1                     Gibson, Miss. Dorothy Winifred
403         1295       1                             Carrau, Mr. Jose Pedro
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298       2                          Ware, Mr. William Jeffery
407         1299       1                         Widener, Mr. George Dunton
408         1300       3                    Riordan, Miss. Johanna Hannah""
409         1301       3                          Peacock, Miss. Treasteall
410         1302       3                             Naughton, Miss. Hannah
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304       3                     Henriksson, Miss. Jenny Lovisa
413         1305       3                                 Spector, Mr. Woolf
414         1306       1                       Oliva y Ocana, Dona. Fermina
415         1307       3                       Saether, Mr. Simon Sivertsen
416         1308       3                                Ware, Mr. Frederick
417         1309       3                           Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare  \
0      male  34.5      0      0              330911    7.8292
1    female  47.0      1      0              363272    7.0000
2      male  62.0      0      0              240276    9.6875
3      male  27.0      0      0              315154    8.6625
4    female  22.0      1      1             3101298   12.2875
5      male  14.0      0      0                7538    9.2250
6    female  30.0      0      0              330972    7.6292
7      male  26.0      1      1              248738   29.0000
8    female  18.0      0      0                2657    7.2292
9      male  21.0      2      0           A/4 48871   24.1500
10     male  27.0      0      0              349220    7.8958
11     male  46.0      0      0                 694   26.0000
12   female  23.0      1      0               21228   82.2667
13     male  63.0      1      0               24065   26.0000
14   female  47.0      1      0         W.E.P. 5734   61.1750
15   female  24.0      1      0       SC/PARIS 2167   27.7208
16     male  35.0      0      0              233734   12.3500
17     male  21.0      0      0                2692    7.2250
18   female  27.0      1      0    STON/O2. 3101270    7.9250
19   female  45.0      0      0                2696    7.2250
20     male  55.0      1      0            PC 17603   59.4000
21     male   9.0      0      1             C 17368    3.1708
22   female  27.0      0      0            PC 17598   31.6833
23     male  21.0      0      1            PC 17597   61.3792
24   female  48.0      1      3            PC 17608  262.3750
25     male  50.0      1      0           A/5. 3337   14.5000
26   female  22.0      0      1              113509   61.9792
27     male  22.5      0      0                2698    7.2250
28     male  41.0      0      0              113054   30.5000
29     male  27.0      2      0                2662   21.6792
..      ...   ...    ...    ...                 ...       ...
388    male  21.0      0      0              364858    7.7500
389    male   6.0      3      1              349909   21.0750
390    male  23.0      0      0               12749   93.5000
391  female  51.0      0      1            PC 17592   39.4000
392    male  13.0      0      2           C.A. 2673   20.2500
393    male  47.0      0      0          C.A. 30769   10.5000
394    male  29.0      3      1              315153   22.0250
395  female  18.0      1      0               13695   60.0000
396    male  24.0      0      0              371109    7.2500
397  female  48.0      1      1               13567   79.2000
398    male  22.0      0      0              347065    7.7750
399    male  31.0      0      0               21332    7.7333
400  female  30.0      0      0               36928  164.8667
401    male  38.0      1      0               28664   21.0000
402  female  22.0      0      1              112378   59.4000
403    male  17.0      0      0              113059   47.1000
404    male  43.0      1      0               17765   27.7208
405    male  20.0      0      0       SC/PARIS 2166   13.8625
406    male  23.0      1      0               28666   10.5000
407    male  50.0      1      1              113503  211.5000
408  female  27.0      0      0              334915    7.7208
409  female   3.0      1      1  SOTON/O.Q. 3101315   13.7750
410  female  27.0      0      0              365237    7.7500

In [24]:
# sex、embarked、title(object)と、farebin、Agebin(category)を変換
label = LabelEncoder()
data1.info()
data_val.info()
data1.sample(10)
# 全ての種類のカテゴリカル変数に数字をふってそれを割り振る
# onehotにすると、列に分けて列番号が
# https://qiita.com/kibinag0/items/723f95277263921650b4
# fitでインスタンスを作って(カテゴリカル全てを格納してる？)、transformすると、encodeする。
for dataset in data_cleaner:    
    dataset['Sex_Code'] = label.fit_transform(dataset['Sex'])
    dataset['Embarked_Code'] = label.fit_transform(dataset['Embarked'])
    dataset['Title_Code'] = label.fit_transform(dataset['Title'])
    dataset['Agebin_Code'] = label.fit_transform(dataset['Agebin'])
    dataset['Farebin_Code'] = label.fit_transform(dataset['Farebin'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
Survived      891 non-null int64
Pclass        891 non-null int64
Name          891 non-null object
Sex           891 non-null object
Age           891 non-null float64
SibSp         891 non-null int64
Parch         891 non-null int64
Fare          891 non-null float64
Embarked      891 non-null object
Familysize    891 non-null int64
IsAlone       891 non-null int64
Title         891 non-null object
Farebin       891 non-null category
Agebin        891 non-null category
dtypes: category(2), float64(2), int64(6), object(4)
memory usage: 85.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 16 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           418 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
Familysize     418 non-null int64
IsAlone        418 non-null int64
Title          418 non-null object
Farebin        418 non-null category
Agebin         418 non-null category
dtypes: category(2), float64(2), int64(6), object(6)
memory usage: 46.8+ KB

In [25]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 19 columns):
Survived         891 non-null int64
Pclass           891 non-null int64
Name             891 non-null object
Sex              891 non-null object
Age              891 non-null float64
SibSp            891 non-null int64
Parch            891 non-null int64
Fare             891 non-null float64
Embarked         891 non-null object
Familysize       891 non-null int64
IsAlone          891 non-null int64
Title            891 non-null object
Farebin          891 non-null category
Agebin           891 non-null category
Sex_Code         891 non-null int64
Embarked_Code    891 non-null int64
Title_Code       891 non-null int64
Agebin_Code      891 non-null int64
Farebin_Code     891 non-null int64
dtypes: category(2), float64(2), int64(11), object(4)
memory usage: 120.3+ KB

In [26]:
#define y variable aka target/outcome
Target = ['Survived']

#define x variables for original features aka feature selection
data1_x = ['Sex','Pclass', 'Embarked', 'Title','SibSp', 'Parch', 'Age', 'Fare', 'FamilySize', 'IsAlone'] #pretty name/values for charts
data1_x_calc = ['Sex_Code','Pclass', 'Embarked_Code', 'Title_Code','SibSp', 'Parch', 'Age', 'Fare'] #coded for algorithm calculation

In [27]:
data1_xy =  Target + data1_x
print('Original X Y: ', data1_xy, '\n')

Original X Y:  ['Survived', 'Sex', 'Pclass', 'Embarked', 'Title', 'SibSp', 'Parch', 'Age', 'Fare', 'FamilySize', 'IsAlone']

In [28]:
#define x variables for original w/bin features to remove continuous variables
data1_x_bin = ['Sex_Code','Pclass', 'Embarked_Code', 'Title_Code', 'FamilySize', 'AgeBin_Code', 'FareBin_Code']
data1_xy_bin = Target + data1_x_bin
print('Bin X Y: ', data1_xy_bin, '\n')

Bin X Y:  ['Survived', 'Sex_Code', 'Pclass', 'Embarked_Code', 'Title_Code', 'FamilySize', 'AgeBin_Code', 'FareBin_Code']

In [29]:
#define x and y variables for dummy features original
data1_dummy = pd.get_dummies(data1[data1_x])

KeyError: "['FamilySize'] not in index"